In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [3]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q1. 
What's the version of Pandas that you installed?

In [4]:
pd.__version__

'2.3.1'

Q2
How many records are in the dataset?

In [7]:
num_records = df.shape[0]
print('Number of records are', num_records)

Number of records are 9704

Q3
How many fuel types are presented in the dataset?

In [6]:
unique_fueltypes = df['fuel_type'].nunique()
print('Number of fuel types are', unique_fueltypes)

Number of fuel types are 2

Q4
How many columns in the dataset have missing values?

In [8]:
missing_values = df.isnull().any().sum()
print('The number of columns with missing values are', missing_values)

The number of columns with missing values are 4

Q5
What's the maximum fuel efficiency of cars from Asia

In [28]:
max_eff_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(2)
print('The maximun fuel efficiency for cars made in Asia is', max_eff_asia)

The maximun fuel efficiency for cars made in Asia is 23.76

Q6 Median value of horsepower

In [31]:
median_value = df['horsepower'].median()
print('1. The median value is', median_value)
mode_value = df['horsepower'].mode()[0]
print('2. The most frequest value is', mode_value)

1. The median value is 149.0
2. The most frequest value is 152.0

In [32]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])

In [33]:
new_median_value = df['horsepower'].median()
print('4. The new median value is', median_value)

4. The new median value is 149.0

The median value did not change

Q7 Sum of weights

In [43]:
set_car = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)

In [45]:
X = set_car.values
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [55]:
XTX_t = X.T #transposing X
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [49]:
import numpy as np

In [57]:
XTX_sq = XTX_t @ X #squaring transpose

In [58]:
print(np.linalg.det(XTX_sq)) #checking if XTX Square is invetible

49647390896215.67

In [59]:
XTX_iv = np.linalg.inv(XTX_sq) #inverting XTX Square

In [54]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200]) #creating a numpy array

In [61]:
#multiplying the inverse of XTX (XTX_iv) with transpose of X (XTX_t)
XTX_ivx = XTX_iv @ XTX_t

In [62]:
#multiplying the result by y
w = XTX_ivx @ y

In [66]:
w_sum = np.sum(w)
print('The sum of the element is', w_sum)

The sum of the element is 0.5187709081074016

The end of the first lesson.